In [3]:
#importing pandas
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
data=pd.read_csv("data-B.csv")

In [5]:
data

     Channel  Region  Fresh   Milk  Grocery  Frozen  Delicassen
0          2       3  12669   9656     7561     214        1338
1          2       3   7057   9810     9568    1762        1776
2          2       3   6353   8808     7684    2405        7844
3          1       3  13265   1196     4221    6404        1788
4          2       3  22615   5410     7198    3915        5185
..       ...     ...    ...    ...      ...     ...         ...
435        1       3  29703  12051    16027   13135        2204
436        1       3  39228   1431      764    4510        2346
437        2       3  14531  15488    30243     437        1867
438        1       3  10290   1981     2232    1038        2125
439        1       3   2787   1698     2510      65          52

[440 rows x 7 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Channel     440 non-null    int64
 1   Region      440 non-null    int64
 2   Fresh       440 non-null    int64
 3   Milk        440 non-null    int64
 4   Grocery     440 non-null    int64
 5   Frozen      440 non-null    int64
 6   Delicassen  440 non-null    int64
dtypes: int64(7)
memory usage: 24.2 KB

#Task-1

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

df=data

# 1. Handling missing values
# Checking for missing values
missing_values = df.isnull().sum()
print(missing_values)

Channel       0
Region        0
Fresh         0
Milk          0
Grocery       0
Frozen        0
Delicassen    0
dtype: int64

In [8]:
# Re-importing necessary libraries and variables
import pandas as pd
from sklearn.preprocessing import StandardScaler


# One-hot encoding for 'Channel' and 'Region'
data_encoded = pd.get_dummies(df, columns=['Channel', 'Region'], drop_first=True)

# Standardizing the numerical features
numerical_columns = ['Fresh', 'Milk', 'Grocery', 'Frozen', 'Delicassen']
scaler = StandardScaler()
data_encoded[numerical_columns] = scaler.fit_transform(data_encoded[numerical_columns])

# Converting boolean True/False to 1/0 in the one-hot encoded columns
data_encoded[['Channel_2', 'Region_2', 'Region_3']] = data_encoded[['Channel_2', 'Region_2', 'Region_3']].astype(int)

# Displaying the updated data to confirm the change
data_encoded.head()

,Fresh,Milk,Grocery,Frozen,Delicassen,Channel_2,Region_2,Region_3
0,0.052933,0.523568,-0.041115,-0.589367,-0.066339,1,0,1
1,-0.391302,0.544458,0.170318,-0.270136,0.089151,1,0,1
2,-0.447029,0.408538,-0.028157,-0.137536,2.243293,1,0,1
3,0.100111,-0.624020,-0.392977,0.687144,0.093411,0,0,1
4,0.840239,-0.052396,-0.079356,0.173859,1.299347,1,0,1

In [9]:
data_encoded.to_csv('data_after_preprocessing.csv',index=False)

In [10]:
df1=data_encoded

In [11]:
# Ensuring df1 contains only numeric columns
df1 = df1.select_dtypes(include=[float, int])
df1 = df1.sample(frac=0.1)  
df1

,Fresh,Milk,Grocery,Frozen,Delicassen,Channel_2,Region_2,Region_3
203,-0.903771,-0.693336,-0.604199,-0.536781,-0.534939,0,0,0
149,1.568256,-0.591871,-0.663721,-0.468521,-0.030129,0,0,1
233,-0.873612,-0.110183,-0.488317,-0.440269,-0.538844,0,0,0
147,-0.221429,-0.328713,-0.552474,-0.368298,-0.354599,0,0,1
200,-0.707143,1.009733,1.598731,0.179221,-0.281824,1,0,0
346,-0.730574,0.155010,0.799561,-0.078144,-0.145504,1,0,1
74,-0.301616,0.074164,0.194127,-0.368504,0.090571,1,0,1
246,-0.246601,-0.456901,-0.650447,-0.267043,-0.324779,0,0,0
180,0.028157,0.032520,0.098576,-0.550598,0.450541,0,0,1
351,-0.854139,0.576199,1.510976,-0.274467,0.572306,1,0,1
335,1.193839,0.138461,0.299053,-0.352006,0.218016,1,1,0
101,-0.837516,0.680106,0.876044,-0.304988,0.111161,1,0,1
323,0.107631,-0.658203,0.383648,-0.444806,-0.337914,0,1,0
370,2.190993,-0.251257,-0.315652,-0.352212,0.252096,1,0,1
51,-0.684978,-0.236743,-0.100636,-0.584212,-0.434474,0,0,1
332,0.816967,-0.350010,-0.685212,-0.178161,0.382381,0,1,0
202,1.045101,0.771940,0.162101,0.411014,1.891842,0,0,0
375,-0.487558,-0.589565,-0.715236,-0.510384,-0.516479,0,0,1
42,-0.091055,0.238570,0.738460,-0.594729,-0.524999,1,0,1
52,2.273476,-0.255056,-0.218626,-0.523789,-0.087639,1,0,1
175,-0.764453,0.277908,0.413251,-0.622775,0.061106,1,0,1
328,0.390463,-0.486608,-0.480626,0.985134,0.003241,0,1,0
5,-0.204806,0.334067,-0.297637,-0.496155,-0.026224,1,0,1
354,0.161380,0.216595,-0.569224,0.683432,0.289726,0,0,1
434,0.374473,-0.254242,0.004501,-0.491618,-0.243839,0,0,1
396,-0.592522,0.840307,0.146826,-0.088249,0.244286,1,0,1
316,-0.385761,-0.599739,-0.605780,-0.081031,-0.165384,0,1,0
228,-0.801974,-0.707986,-0.777391,-0.437588,-0.469264,0,0,0
302,-0.721470,-0.067047,0.193179,-0.558434,-0.344304,1,1,0
388,-0.175359,-0.671226,-0.714183,-0.287665,-0.397199,0,0,1
57,-0.521121,0.561142,0.267133,-0.625662,-0.086219,1,0,1
293,-0.633605,0.719851,0.475933,-0.447487,-0.278274,1,1,0
73,0.625246,-0.062977,0.080246,1.043495,-0.311289,1,0,1
37,0.250749,0.645652,0.476775,-0.237553,-0.287859,1,0,1
205,-0.862293,0.802326,1.648139,-0.436557,-0.289279,1,0,0
192,-0.513839,-0.588073,-0.600512,-0.520695,-0.396134,0,0,1
416,-0.602496,0.697741,0.311485,-0.458623,-0.188814,1,0,1
394,0.029819,-0.668920,-0.500116,-0.345201,-0.380869,0,0,1
128,-0.938838,0.413828,-0.434905,-0.604215,-0.540264,0,0,1
218,-0.948496,0.231652,0.764164,-0.368504,1.720732,1,0,0
140,0.445082,-0.205679,-0.068084,-0.163520,0.387351,0,0,1
178,-0.079023,0.173459,-0.316705,-0.395931,-0.401104,0,0,1
314,-0.109499,-0.542766,-0.032055,-0.327672,-0.103614,0,1,0
95,-0.949683,-0.390162,-0.179015,-0.542761,-0.289634,0,0,1

In [12]:
#Task-2

In [ ]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

sse = []
for k in range(1, 11):
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(df1)  # Ensure df1 contains only numeric data
    sse.append(kmeans.inertia_)

# Plotting the elbow curve
plt.plot(range(1, 11), sse, marker='o')
plt.xlabel('Number of Clusters (K)')
plt.ylabel('Sum of Squared Errors (SSE)')
plt.title('Elbow Method for Optimal K')
plt.grid(True)
plt.show()

In [ ]:
from scipy.cluster.hierarchy import dendrogram, linkage
import matplotlib.pyplot as plt

# Performing hierarchical clustering
linked = linkage(data_encoded, 'ward')

# Create a dendrogram to visualize the clustering
plt.figure(figsize=(10, 7))
dendrogram(linked)
plt.title('Dendrogram for Hierarchical Clustering')
plt.xlabel('Data Points')
plt.ylabel('Distance')
plt.show()

In [ ]:
#Task-3

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans

# Load preprocessed data
df1 = pd.read_csv('data_after_preprocessing.csv')  # replace with the correct path

# Assuming we already have the optimal number of clusters from Task 2
optimal_k = 3  # Adjust based on elbow method from Task 2
kmeans = KMeans(n_clusters=optimal_k, random_state=42)
kmeans.fit(df1)

# Getting cluster centroids
centroids = kmeans.cluster_centers_
centroids_df = pd.DataFrame(centroids, columns=df1.columns)

# Displaying centroids
print("Cluster centroids:\n", centroids_df)

In [ ]:
from sklearn.metrics import silhouette_score
from sklearn.cluster import AgglomerativeClustering

# Silhouette Score for K-Means
kmeans_labels = kmeans.labels_
kmeans_silhouette = silhouette_score(df1, kmeans_labels)
print(f'Silhouette Score for K-Means: {kmeans_silhouette:.4f}')

# Silhouette Score for Hierarchical Clustering
hier_cluster = AgglomerativeClustering(n_clusters=optimal_k, linkage='ward')
hier_labels = hier_cluster.fit_predict(df1)
hier_silhouette = silhouette_score(df1, hier_labels)
print(f'Silhouette Score for Hierarchical Clustering: {hier_silhouette:.4f}')

In [1]:
#Task-4

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

# Loading the data 
data = df1

# Converting one-hot encoded Region columns to a single label
data['Region'] = data[['Region_2', 'Region_3']].idxmax(axis=1).apply(lambda x: int(x.split('_')[-1]))

# Splitting the features and target
X = data.drop(columns=['Region', 'Region_2', 'Region_3'])
y = data['Region']

# Splitting data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initializing and train the SVM model
svm_model = SVC(kernel='linear', random_state=42)
svm_model.fit(X_train, y_train)

# Predictions and evaluations
y_pred = svm_model.predict(X_test)
print("SVM Classification Report:\n", classification_report(y_test, y_pred))